/* your styles go here */
.heading {
  text-align: center;
  padding-bottom: 30px;
}

/* -------------------- */
/* Hero                 */
/* -------------------- */
.home-hero {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom:  0;
  left: 0;
  right: 0;
  
  background: url('../img/hero.jpg');
  background-size: cover;
  height: 120vh;
  width: 100vw;
  
  text-align: center;
  padding-top: 200px;

  color: white;

  &:before {
    content: '';
    height: 100%;
    width: 100%;
    height: 120vh;
    width: 100vw;
    background: rgba(44,123,183,.5);
    position: absolute;
  }
}

.home-hero h1 {
}


.content {
  position: absolute;
  z-index: 1000;
  top: 100vh;
  
  height: 100vh;
  width: 100vw;
}

/* -------------------- */
/* Description          */
/* -------------------- */
.home-description {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* -------------------- */
/* FOOTER               */
/* -------------------- */
.footer-bs {
  background-color: #252525;
  padding: 60px 40px 40px 60px;
  color: rgba(255,255,255,1.00);
  font-size: 12px;
}

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-contact { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-contact { border-color: transparent; font-size: 12px}
.footer-bs h4 { font-size: 12px; color: #777}

/* Footer Col 1 */
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

/* Footer Col 2 */
.footer-bs .footer-nav ul.list { font-size:14px; list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }
.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,0.80); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }
.footer-bs .footer-nav h4 {
text-transform: uppercase;
letter-spacing: 2px;
}

/* Footer Col 3 */
.footer-bs .footer-social ul { font-size:14px; list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
text-transform: uppercase;
letter-spacing: 2px;
}
.footer-bs .footer-social li { padding:5px 0px;}
.footer-bs .footer-social a { color:rgba(255,255,255,0.80);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

/* Footer Col 4 */
.footer-bs .footer-contact ul { font-size:14px; list-style:none; padding:0px; }
.footer-bs .footer-contact h4 {
text-transform: uppercase;
letter-spacing: 2px;
}
.footer-bs .footer-contact li { padding:5px 0px;}
.footer-bs .footer-contact a { color:rgba(255,255,255,0.80);}
.footer-bs .footer-contact a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }