<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body data-smooth-scroll-offset="180">
        
      {{ partial "nav_invert.html" . }}

      <div class="main-container">

        {{ if isset .Params "id" }}
          {{ partial "static_content.html" . }}
        {{ else }}
          {{ partial "static_content.html" . }}
        {{ end }}

      </div>

    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}

    <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
    </a>
  </body>
</html>
