<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

      <div id="all">

          <header>

            {{ partial "nav.html" . }}

          </header>
         {{ partial "hero.html" . }}

        <section class="content">
                  
        {{ partial "description.html" . }}
                
        {{ partial "footer.html" . }}
      </section> 


    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
