{{ if isset .Site.Params "description" }}
{{ if .Site.Params.description.enable }}
<section id="descriptione">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="feature">
                    <h4>Interactive Elements</h4>
                    <p> With rich modal and notification functionality and a robust suite of options, Stack makes building feature-heavy pages simple and enjoyable. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">
                    <h4>Save Development Time</h4>
                    <p> Drastically reduce the time it takes to move from initial concept to production-ready with Stack and Variant Page Builder. Your clients will love you for it! </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">
                    <h4>Friendly Support</h4>
                    <p> Our customers love the comfort that comes with six-months free support. Our dedicated support forum makes interacting with us hassle-free and efficient. </p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
