<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <meta name="author" content="{{ .Site.Author.name }}" />

    {{ if .Keywords }}
    <meta name="keywords" content="{{ delimit .Keywords ", " }}">
    {{ else if .Site.Params.DefaultKeywords }}
    <meta name="keywords" content="{{ delimit .Site.Params.DefaultKeywords ", " }}">	
    {{ end }}


    {{ if .Description }}
    <meta name="description" content="{{ .Description }}">
    {{ else if .Site.Params.DefaultDescription }}
    <meta name="description" content="{{ .Site.Params.DefaultDescription }}">	
    {{ end }}

    {{ .Hugo.Generator }}

    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/icon?family=Material+Icons' rel="stylesheet" type='text/css'>

    <!-- Font Awesome css -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap -->
<!--     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 -->
    <!-- Css animations  -->
    <link href="{{ "css/animate.css" | relURL}}" rel="stylesheet">

    <!-- Responsivity for older IE -->
    {{ `
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    ` | safeHTML }}    

      <!-- Favicon and apple touch icons-->
    <link rel="shortcut icon" href="{{ "img/favicon.ico" | relURL }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ "img/apple-touch-icon.png" | relURL }}" />

    <!-- owl carousel css -->
    <link href="{{ "css/owl.carousel.css" | relURL}}" rel="stylesheet">
    <link href="{{ "css/owl.theme.css" | relURL}}" rel="stylesheet">

    <!-- Sitemap -->
    <link rel="alternate" href="{{ "/index.xml" | absURL }}" type="application/rss+xml" title="{{ .Site.Title }}">

    <!-- Facebook OpenGraph tags -->
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .URL }}/" />
    <meta property="og:image" content="{{ .Site.Params.logo }}" />

    <!-- bsnav -->
    <!--     <link href="{{ "css/bsnav.min.css" | relURL}}" rel="stylesheet">-->

    <!-- Stack Theme CSS -->
    <link href="{{ "css/stack/stack-interface.css" | relURL}}" rel="stylesheet" type="text/css" media="all">
    <link href="{{ "css/stack/socicon.css" | relURL}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ "css/stack/bootstrap.css" | relURL}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ "css/stack/stack-interface.css" | relURL}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ "css/stack/theme.css" | relURL}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ "css/stack/flickity.css" | relURL}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ "css/stack/font-roboto.css" | relURL}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ "css/stack/iconsmind.css" | relURL}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ "css/stack/jquery.steps.css" | relURL}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ "css/stack/lightbox.min.css" | relURL}}" rel="stylesheet" type="text/css" media="all" />
    
    <!-- Custom stylesheet - for your changes -->
    <link href="{{ "css/custom.css" | relURL}}" rel="stylesheet">
</head>