{{ if isset .Site.Params "hero" }}
{{ if .Site.Params.hero.enable }}
<section class="cover imagebg text-center parallax height-100" data-overlay="1">
        <div class="background-image-holder"> <img alt="background" src="img/hero.jpg"> </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-12">
                 <!-- <h1> Streamline your workflow with Stack </h1> -->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4" style="text-align: center">
                                <div class="icon">
                                    <img src="img/np_antenna_704040_FFFFFF.svg">
                                </div>
                                <h1>{{ .Site.Params.kpi.stations }}</h1>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <div class="icon">
                                    <img src="img/np_meteor_897768_FFFFFF.svg">
                                </div>
                                <h1>{{.Site.Params.kpi.meteors }}</h1>
                            </div>
                            <div class="col-md-4"  style="text-align: center">
                                <div class="icon">
                                    <img src="img/np_database_1022996_FFFFFF.svg">
                                </div>
                                <h1>{{ .Site.Params.kpi.datasets }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{{ end }}
{{ end }}

