<a id="start"></a>

<div class="nav-container">
        <div>
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-3 col-md-2">
                            <a href="{{ .Site.BaseURL }}/index.html"> 
                                <img class="logo logo-dark" alt="logo" src="{{ .Site.BaseURL }}/img/logo-dark.png"> 
                                <img class="logo logo-light" alt="logo" src="{{ .Site.BaseURL }}/img/logo-light.png"> 
                            </a>
                        </div>
                        <div class="col-9 col-md-10 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu2;hidden-xs hidden-sm"> 
                                <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <nav id="menu2" class="bar bar-2 hidden-xs bar--absolute bar--transparent">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-md-2 hidden-xs">
                            <div class="bar__module">
                                <a href="{{ .Site.BaseURL }}/index.html"> 
                                    <img class="logo logo-dark" alt="logo" src="{{ .Site.BaseURL }}/img/logo-dark.png"> 
                                    <img class="logo logo-light" alt="logo" src="{{ .Site.BaseURL }}/img/logo-light.png"> </a>
                            </div>
                        </div>
                        <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
                            <div class="bar__module">

                                <ul class="menu-horizontal text-left">
                                        {{ range .Site.Menus.main }}
                                        <li class="dropdown">
                                          {{ if .HasChildren }}
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Pre }} {{ .Name }} <span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            {{ range .Children }}
                                              <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                                            {{ end }}
                                          </ul>
                                          {{ else }}
                                          <a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a>
                                          {{ end  }}
                                        </li>
                                        {{ end }}
<!--                                         {{ if .Site.Params.social.enable }}
                                          {{ range .Site.Menus.social.ByWeight }}
                                          <a href="{{ .URL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a>
                                          {{ end }}
                                        {{ end }} -->
                                      </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>