{{ template "_internal/google_analytics.html" . }}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0/jquery.counterup.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<!-- <script src="{{ .Site.BaseURL }}/js/front.js"></script>
 -->
<!-- owl carousel -->
<!-- <script src="{{ .Site.BaseURL }}/js/owl.carousel.min.js"></script>
 -->
<!-- bsnav -->
<!-- <script src="{{ .Site.BaseURL }}/js/bsnav.min.js"></script>
 -->
<!-- stack theme -->
<script src="{{ .Site.BaseURL }}/js/stack/countdown.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/datepicker.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/easypiechart.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/flickity.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/granim.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/isotope.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/jquery.steps.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/lightbox.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/parallax.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/scripts.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/smooth-scroll.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/spectragram.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/twitterfetcher.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/typed.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/stack/ytplayer.min.js"></script>

<!-- Custom Script -->
<script src="{{ .Site.BaseURL }}/js/custom.js"></script>