<section id="static_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ .Content }}
            </div>
        </div>
    </div>
</section>
