{{ if isset .Site.Params "twitter" }}
{{ if .Site.Params.twitter.enable }}
<section class="switchable imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-lg-5">
                    <div class="switchable__text">
                        <h2>Follow us for news, updates and competitions</h2>
                        <p class="lead"> Launching an attractive and scalable website quickly and affordably is important for modern startups — Stack offers massive value without looking 'bargain-bin'. </p>
                        <a class="btn btn--icon bg--twitter" href="{{ .Site.Params.twitter.url }}"> <span class="btn__text">
                    <i class="socicon socicon-twitter"></i>
                    Visit @{{ .Site.Params.twitter.username }} on Twitter
                </span> </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tweets-feed tweets-feed-1 bg--secondary" data-feed-name="{{ .Site.Params.twitter.username }}" data-amount="3"></div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
{{ end }}